<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.7.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Profil fotoğrafı çekebilmeniz için kamera erişimine ihtiyacımız var.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Galerinizden profil fotoğrafı seçebilmeniz için fotoğraf kütüphanesine erişime ihtiyacımız var.</string>
</dict>
</plist>
